body {
  background-color: powderblue;
}
.Poster{
    height: 300px;
    width: 20%;
    border: 1px solid black;
    margin: 10px;
    float: left;
}
#WrapperDiv{
    width: 80%;
    box-shadow: 10px;
    border: 2px solid green;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Amenities{
    width: 40%;
    margin-top: 10px;
    text-align: left;
    
}
.image{
    width: 100%;
    height: 300px;
}
/*
th,td,tr{
    border: 1px solid black;
        float: left;
}*/
